.swatch {
  display: inline-block;
  width: 25%;
	margin-bottom: 2rem;
  box-shadow: 0px 12px 20px rgba($color-black, 0.06), 0px 3px 6px rgba($color-black, 0.06);
	transition: all 200ms ease;

	@media screen and (max-width: 980px) {
		width: 50%;
	}

	@media screen and (max-width: 576px) {
		width: 100%;
	}

	&__container {

	}
	&__color {
		height: 8rem;
		width: 100%;
		position: relative;
	}
	&__content {
		padding: 1rem;
		font-size: 80%;
	}
	&__label {
		position: absolute;
		bottom: 1rem;
		left: 1rem;
		font-weight: 700;
	}
}