////////////////////////////////////////////////////
// Colors
////////////////////////////////////////////////////
$color-black: 			#000;
$color-gray-900:		#1f2024;
$color-gray-800:		#2f3036;
$color-gray-700:		#57595f;
$color-gray-600:		#77787c;
$color-gray-500:		#afafaf;
$color-gray-400:		#b9babe;
$color-gray-300:		#cfd0d4;
$color-gray-200:		#e5e6ea;
$color-gray-100:		#edf1f5;
$color-white:				#fff;

// Element/State/Main Colors
// These color values are used to inject visual intent into UI elements

$color-blue: 				#3870c4;
$color-red: 				#e6292c;
$color-green: 			#4caf50;
$color-orange: 			#fcad3a;
$color-teal: 				#44c7f4;

// Data Colors (Charts)
// These color values are used for charting mechanisms, data visualizations, and tertiary intents

$data-sepia:				#96622d;
$data-lime:					#9bbf30;
$data-turquoise:		#00b3a4;
$data-indigo:				#0e5a8a;
$data-rose:					#db2c6f;
$data-gold:					#d99e0b;
$data-forest:				#29a634;
$data-cobalt:				#2965cc;
$data-violet:				#8f398f;
$data-vermillion:		#d13913;

// State Maps
//
// Use these variables to style elements with states
//

$primary:       		$color-blue !default;
$secondary:     		$color-gray-600 !default;
$success:       		$color-green !default;
$info:          		$color-teal !default;
$warning:       		$color-orange !default;
$danger:        		$color-red !default;
$light:         		$color-gray-100 !default;
$dark:          		$color-gray-900 !default;
