.u-m-right--sm {
  margin-right: $spacer-sm;
}

.u-m-right {
  margin-right: $spacer-md;
}

.u-m-right--lg {
  margin-right: $spacer-lg;
}

.u-m-left--sm {
  margin-left: $spacer-sm;
}

.u-m-left {
  margin-left: $spacer-md;
}

.u-m-left--lg {
  margin-left: $spacer-lg;
}

.u-m-top--sm {
  margin-top: $spacer-sm;
}

.u-m-top {
  margin-top: $spacer-md;
}

.u-m-top--lg {
  margin-top: $spacer-lg;
}

.u-m-bottom--sm {
  margin-bottom: $spacer-sm;
}

.u-m-bottom {
  margin-bottom: $spacer-md;
}

.u-m-bottom--lg {
  margin-bottom: $spacer-lg;
}
