.u-p-right--sm {
  padding-right: $spacer-sm;
}

.u-p-right {
  padding-right: $spacer-md;
}

.u-p-right--lg {
  padding-right: $spacer-lg;
}

.u-p-left--sm {
  padding-left: $spacer-sm;
}

.u-p-left {
  padding-left: $spacer-md;
}

.u-p-left--lg {
  padding-left: $spacer-lg;
}

.u-p-top--sm {
  padding-top: $spacer-sm;
}

.u-p-top {
  padding-top: $spacer-md;
}

.u-p-top--lg {
  padding-top: $spacer-lg;
}

.u-p-bottom--sm {
  padding-bottom: $spacer-sm;
}

.u-p-bottom {
  padding-bottom: $spacer-md;
}

.u-p-bottom--lg {
  padding-bottom: $spacer-lg;
}
