.u-text--primary {
  color: $primary !important;
}

.u-text--danger {
  color: $danger !important;
}

.u-text--success {
  color: $success !important;
}

.u-text--warning {
  color: $warning !important;
}

.u-text--info {
  color: $info !important;
}

.u-text--secondary {
  color: $color-gray-600 !important;
}

.u-text--light {
  color: $light !important;
}

.u-text--dark {
  color: $dark !important;
}

.u-text--black {
  color: $color-black !important;
}

.u-text--white {
  color: $color-white !important;
}
